
<table class="tx-challenge" >
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.title" />
		</td>
		<td>
			{challenge.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.description" />
		</td>
		<td>
			{challenge.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.reckoning" />
		</td>
		<td>
			{challenge.reckoning}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.likes" />
		</td>
		<td>
			{challenge.likes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.winning_point" />
		</td>
		<td>
			{challenge.winningPoint}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_challenge_domain_model_challenge.qr_code" />
		</td>
		<td>
			{challenge.qrCode.originalResource.name}
		</td>
	</tr>
</table>